extends layout

block content
  h1= title
  p Welcome to #{title}
  table.table.table-hover
      - var i = 1
      each subject in subjects
        tr
            td= i
            td= subject
        - i = i+1
